body
{
    margin: 0;
    padding: 10%;
    box-sizing: border-box;
}
a
{
    text-decoration: underline blue;
    color: green;
}
td
{
    text-align: center;
}
div
{
    gap: 10px;
    background-color: #c8cddb;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

td
{
    border-top: 0px;
    border-bottom: 0px;
    border-left: 5px;
    border-right: 5px;
    border-style: solid;
    border-color: red;
    display: block;
    border-collapse: collapse;
}