li
{
    font-size: 22px;
}
/* Sloav lang */
.words1
{
    color: brown;
    font-size: 15px;
    font-size: 30px;
}
.words1:nth-child(4)
{
    color: blue;
}

/* Balt lang */
a
{
    color: red;
}