@media screen and (max-width: 550px) {
  .time, .price {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  .time {
    margin-bottom: 0;
  }

  .price {
    margin-top: 10px;
  }
}
