@media screen and (max-width: 840px) {
  header div {
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    text-align: center;
  }

  header div:not(:last-of-type) {
    margin-right: 0;
  }
  .description
  {
    box-sizing: border-box;
  }
  .description, .time, .price {
    display: contents;
    width: 43%;
    margin: 10px 20px;
    text-align: center;
    align-items: center;
  }

  .time, .price {
    display: inline-block;
    box-sizing: border-box;
    background-color: #81aea52b;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
  }
}
